@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");

@font-face {
  font-family: "Funts";
  src: url("../assets/font.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.funts-font {
  font-family: "Funts", sans-serif;
}

.interface-font {
  font-family: "Alata", sans-serif;
}
